@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Dancing Script", cursive;
}

body {
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.invitation {
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.play-button {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background-color: #2980b9;
  border: none;
  border-radius: 50%; /* Hacer el botón circular */
  cursor: pointer;
  position: relative; /* Para posicionar el triángulo */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.play-button::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid white; /* Crear el triángulo */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
}

.play-button:hover {
  background-color: #3498db;
}


.greeting {
  font-size: 2rem;
  color: #535050;
  margin-bottom: 20px;
  margin-top: 2em;
}

.photo {
  max-width: 50%;
  border-radius: 100%;
  margin-bottom: 20px;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.photo.fade {
  opacity: 1;
}
h2 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.countdown {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time {
  font-size: 1.5rem;
  color: #012a47;
}

.time span {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #3498db;
  font-size: 1.2rem;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.links a:hover {
  background-color: #3498db;
  color: #fff;
}

@media (min-width: 768px) {
  .invitation {
    max-width: 700px;
  }

  .greeting {
    font-size: 2.5rem;
    margin-top: 90px;

  }
  h2 {
    width: 90%;

  }
  .time {
    font-size: 2rem;
  }

  .time span {
    font-size: 2.5rem;
  }

  .links a {
    font-size: 1.5rem;
  }
}
